---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* For nav bar */
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 1024px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
