---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* main background */
.full {
    background: url('{{ "/images/blueprints-textures.png" | prepend: site.baseurl | prepend: site.github.url }}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* For nav bar */
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.main-container {
  width: 100%;
  padding: 0px;
}

.body-container {
  width: auto;
  max-width: 1024px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.container .text-muted {
  margin: 20px 0;
}

/* TOC */
.affix {
  top: 60px;
}

.nav>.active:focus>a, nav[data-toggle=toc] .nav>.active:hover>a, nav[data-toggle=toc] .nav>.active>a {
    color: #124266;
    border-left: 2px solid #124266;
}

/* Company logos size */
.company-logo {
  max-width: 100%;
  height: auto;
  padding: 10px
}

/* links */
a {
  color: #124266
}

/* navbar */
.navbar {

  a {
    color: white
  }

  a.page-link:hover {
    color: #124266
  }
}

/* categories */
.panel-heading {
  @extend .full;
  h2 {
    color: white
  }
}

/* headers */
.full-jumbotron .jumbotron {
  background-color:inherit;
  width: 100%;
  color: white;
}

h1 .small {
  color: white;
}

.full-jumbotron {
  @extend .full;
  width:100%;
  height:100%;
  max-width:100%;
  padding: 0px;
  background-position:center;
  background-size:cover;
}