<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}
    {% if page.anchors or layout.anchors %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.1/anchor.min.js"></script>
    <script language="javascript"> 
      anchors.options = {
        /*visible: 'always',*/
        placement: 'left'
      };
      anchors.add();
    </script>
    {% endif %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
  </body>

</html>
