---
layout: default
anchors: true
---
<h1 class="page-heading">{{page.guideline_company}} - {{ page.title }}</h1>
<a href="{{page.guideline_companyUrl}}" target="company"><img src="{{page.guideline_companyLogoUrl | prepend:site.baseurl | prepend: site.github.url}}"></a>
{% assign items = (page.topics |  sort: "topic_category" | group_by: "topic_category") %}
{% for category in items %}
  <h2>{{category.name}}</h2>
  <div>
  {% for topic in category.items %}
    <h3><a href="{{ topic.topic__links.self.href | prepend: site.baseurl | prepend: site.github.url}}">{{ topic.topic_name | escape }}</a></h3>
    <p>{{ topic.topic_description}}</p>
    <ul>
    {% for reference in topic.references %}
      <li>
      <a href="{{ reference.url }}" target="specification">{{reference.name}}</a>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
  </div>
{% endfor %}